#login_form .input_text input {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	width: 99%;
	height: 40px;
	border: 1px solid #ff0000;
	border-radius: 10px;
	color: #000000;
	background-color: transparent;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#login_form .input_checkbox {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	color: #777777;
}
#login_form .message_container {
	color: #ff0000;
}
#login_form .input_button input {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	width: 99%;
	height: 40px;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	background-color: #0000ff;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}